# This is the configuration file for the Surfshark SmartDNS updater.

SHARK_LOGIN_URL = 'https://api.surfshark.com/v1/auth/login'
SHARK_LOGIN_PAYLOAD = '{{"username":"{}","password":"{}"}}'
SHARK_UPDATE_URL = 'https://api.surfshark.com/v1/server/smart-dns'

# Use environment variables if possible, storing details in a config file aren't fun but may be the only way in some instances
# environment variables will use the same 
SHARK_USERNAME = '' 
SHARK_PASSWORD = ''

IP_API = 'https://api.ipify.org/' #URL to retrieve your IP. Can you something like ipify, icanhazip, ipinfo etc

TEMPFILE_NAME = 'ss_ipfile.txt'